POSTGRES_USER=pgtstuser123
POSTGRES_PASSWORD=pgtestpswrd1243
POSTGRES_DB=mydb

PGADMIN_DEFAULT_EMAIL=pgadmindb@gmail.com
PGADMIN_DEFAULT_PASSWORD=pgadminpsswrd

POSTGRES_URL=postgresql+asyncpg://pgtstuser123:pgtestpswrd1243@postgres:5432/mydb

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0